*.ap_
*.dex
*.class
bin/
gen/
local.properties
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
.buildpath
.DS_Store
build/
.gradle/
.idea/
.iml
*.iml